<!-- <app-select-expense-type></app-select-expense-type> -->
<!-- <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Expense</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>Create Expense</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div> -->
<div class="">
    <form class="form" role="form" method="post" (ngSubmit)="createExpense()" fxLayout="column" fxLayoutAlign="center center">
        <!-- Step 1 -->
        <md-button-toggle-group [(ngModel)]="expense.type" name="type" fxLayout="row" class="m-b-sm">
            <md-button-toggle value="CR">
                <div fxLayout="column" fxLayoutAlign="center center" class="m-t-sm">
                    <i class="fa fa-building"></i>
                    <span>Corporate</span> 
                </div>
            </md-button-toggle>
            <md-button-toggle value="DM">
                <div fxLayout="column" fxLayoutAlign="center center" class="m-t-sm">
                    <i class="fa fa-home"></i>
                    <span>Domestic</span> 
                </div>
            </md-button-toggle>
            <md-button-toggle value="ST">
                <div fxLayout="column" fxLayoutAlign="center center" class="m-t-sm">
                    <i class="fa fa-dollar"></i>
                    <span>Quick</span> 
                </div>
            </md-button-toggle>
        </md-button-toggle-group>
        <!-- <md-card class="example-card">
            <md-card-header>
                <md-card-title>Choose type of expense.</md-card-title>
            </md-card-header>
            <md-card-content>
                <md-radio-group [(ngModel)]="expense.type" name="type" fxLayout="row">
                    <md-radio-button value="CR">Corporate <i class="fa fa-building md-dark"></i></md-radio-button>
                    <md-radio-button value="DM">Domestic <i class="fa fa-home md-dark"></i></md-radio-button>
                    <md-radio-button value="ST">Quick <i class="fa fa-dollar md-dark"></i></md-radio-button>
                </md-radio-group>
            </md-card-content>
        </md-card> -->
       
        <!-- Step 2 -->
        <md-card class="example-card" *ngIf="expense.type">
            <md-card-header>
                <md-card-title>Enter Expense Details</md-card-title>
            </md-card-header>
            <md-card-content fxLayout="column">
                <md-form-field class="full-width">
                    <input mdInput placeholder="E.g House/Apartment/Group Name" name="name"  [(ngModel)]="expense.name">
                    <!-- <md-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </md-error> -->
                </md-form-field>
                <md-form-field class="full-width">
                    <textarea mdInput placeholder="E.g Sharing expense with my friends/family/others" ></textarea>
                    <input mdInput type="password" placeholder="Password" name="details" [(ngModel)]="expense.details">
                </md-form-field>
            </md-card-content>
            <md-card-actions>
                <button [routerLink]="['/user/register']" md-raised-button>Create an account</button>
                <button type="submit" md-raised-button color="primary">Save & add members</button>
            </md-card-actions>
        </md-card>
    </form>
</div>


