

<div class="loginscreen">
    <form class="m-t" role="form" method="post" (ngSubmit)="loginUser()">
        <md-card class="example-card">
            <md-card-header>
                <md-card-title>Month OutLay</md-card-title>
            </md-card-header>
            <md-card-content>
                <md-form-field class="example-full-width">
                    <input mdInput placeholder="Email" name="email"  [(ngModel)]="model.email">
                    <!-- <md-error *ngIf="emailFormControl.hasError('pattern')">
                        Please enter a valid email address
                    </md-error>
                    <md-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </md-error> -->
                </md-form-field>
                <md-form-field class="example-full-width">
                    <input mdInput placeholder="Password" name="password"  [(ngModel)]="model.password">
                    <!-- <md-error *ngIf="emailFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </md-error> -->
                </md-form-field>
                <a md-button routerLink="."><small>Forgot password?</small></a>
            </md-card-content>
            <md-card-actions>
                <button [routerLink]="['/user/register']" md-raised-button>Create an account</button>
                <button type="submit" md-raised-button color="primary">Login</button>
            </md-card-actions>
        </md-card>
    </form>
</div>

<!-- <div>
        <div>
            <h1 class="logo-name">OutLay</h1>
        </div>
        <p>Login in. To see it in action.</p>
        <form class="m-t" role="form" method="post" (ngSubmit)="loginUser()">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Username" required="" [(ngModel)]="model.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="" [(ngModel)]="model.password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
  
            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="/user/signup">Create an account</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div> -->

