<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
  <nav class="docs-navbar">
    <a md-button class="docs-button" routerLink="/dashboard" aria-label="Angular Material">
      <img class="docs-angular-logo"
        src="../../../assets/img/homepage/angular-white-transparent.svg"
        alt="angular">
      <span>Month</span><span>Outlay</span>
    </a>
    <a md-button class="docs-button" routerLink="components">Components</a>
    <a md-button class="docs-button" routerLink="guides">Guides</a>
    <div class="flex-spacer"></div>
    
    
    <input mdInput type="hidden" [mdDatepicker]="picker" placeholder="Choose a date">
    <md-datepicker startView="year" touchUi="true" #picker></md-datepicker>
    <button md-button (click)="picker.open()"><i class="material-icons">date_range</i> Month</button>
  </nav>
  
